<h2 class="text-lg font-semibold mb-4">Edit actions</h2>
<button (click)="onClose()"
  class="absolute top-3 right-4 text-gray-500 hover:text-red-600 text-xl font-bold">&times;</button>

<!-- onSuccess Action -->
<div class="mb-6">

  <div *ngIf="rule.actions?.onSuccess; else addonSuccess">
    <label class="text-sm text-gray-600">onSuccess:</label>

    <!-- Select action -->

    <select class="border p-1 text-sm rounded w-1/2 mt-1" [ngModel]="rule.actions?.onSuccess?.name"
      (ngModelChange)="onSelectAction('onSuccess', $event)">
      <option value="">-- choose action --</option>
      <option *ngFor="let name of actionNames" [value]="name">
        {{ name }}
      </option>
    </select>

    <div class="mt-2">
      <h5 class="text-xs text-gray-500 mb-1">Context</h5>
      <div *ngFor="let key of getContextKeys('onSuccess'); let i = index" class="flex gap-2 mb-2">
        <input class="border p-1 text-xs rounded w-1/4" [value]="key"
          (blur)="onContextKeyBlur('onSuccess', i, $any($event.target).value)" />
        <input class="border p-1 text-xs rounded w-2/4" [value]="rule.actions?.onSuccess?.context![key]"
          (input)="updateContextValue('onSuccess', key, $any($event.target).value)" />
      </div>
    </div>
  </div>
  <ng-template #addonSuccess>
    <button (click)="addAction('onSuccess')"
      class="flex items-center gap-1 text-blue-600 text-sm mt-2 hover:underline transition-transform hover:scale-105">
      <i-lucide [img]="Plus" class="w-4 h-4" /> Add onSuccess Action
    </button>
  </ng-template>
</div>

<!-- onFailure Action -->
<div>
  <div *ngIf="rule.actions?.onFailure; else addonFailure">
    <label class="text-sm text-gray-600">onFailure:</label>

    <!-- Select action -->
    <select class="border p-1 text-sm rounded w-1/2 mt-1" [ngModel]="rule.actions?.onFailure?.name"
      (ngModelChange)="onSelectAction('onFailure', $event)">
      <option value="">-- choose action --</option>
      <option *ngFor="let name of actionNames" [value]="name">
        {{ name }}
      </option>
    </select>

    <div class="mt-2">
      <h5 class="text-xs text-gray-500 mb-1">Context</h5>
      <div *ngFor="let key of getContextKeys('onFailure'); let i = index" class="flex gap-2 mb-2">
        <input class="border p-1 text-xs rounded w-1/4" [value]="key"
          (blur)="onContextKeyBlur('onFailure', i, $any($event.target).value)" />
        <input class="border p-1 text-xs rounded w-2/4" [value]="rule.actions?.onFailure?.context![key]"
          (input)="updateContextValue('onFailure', key, $any($event.target).value)" />
      </div>
    </div>
  </div>
  <ng-template #addonFailure>
    <button (click)="addAction('onFailure')"
      class="flex items-center gap-1 text-blue-600 text-sm mt-2 hover:underline transition-transform hover:scale-105">
      <i-lucide [img]="Plus" class="w-4 h-4" /> Add onFailure Action
    </button>
  </ng-template>
</div>
